:root {
    --hover: #5863ad;
    --background-1: #292a34;
    --background-2: #2E2F3A;
    --background-3: #363642;
    --background-4: #444452;
    --foreground-1: #444f97;
    --foreground-2: #5b64a0;
    --text: #B4B3BA
}


html,
body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    /* background: #202020;
    color: #a8a8a8;*/
    background-color: var(--background-2);
    color: var(--text);
}

input {
    background: var(--background-4);
    color: var(--text);
    border: 1px solid hsl(0deg 0% 19%);
    border-radius: 2px;
    padding-left: 5px;
}

input:focus {
    outline-style: solid;
    outline-color: var(--text);
    outline-offset: -2px;
    outline-width: 1px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select {
    /* Reset Select */
    /*appearance: none;*/
    outline: 0;
    border: 1px solid hsl(0deg 0% 19%);
    border-radius: 2px;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: var(--text);
    background-color: var(--background-4);
    background-image: none;
    cursor: pointer;

    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
}

select:hover::after {
    color: #f39c12;
}

button {
    border: 1px solid hsl(0deg 0% 19%);
    border-radius: 2px;
    cursor: pointer;
    margin: 0;
    background-color: var(--foreground-1);
    color: var(--text);
    font-size: 1.2em;
}

button:hover {
    /*background-color: #515161;*/
    background-color: var(--hover);
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--foreground-1);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--hover);
}