.input-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input-text {
    height: 2em;
}


.radio-container {
    display: flex;
}

.radio-div {
    display: flex;
    width: 50%;
    height: 200px;
    flex-direction: column;
    padding: 10px;
    border-width: thin;
    border-style: solid;
    border-radius: 5px;
    margin: 0px 10px 0px 10px;
}

.radio-button {
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    
}

.radio-button label {
    font-size: x-large;
    margin-left: 10px;
}

.radio-button input {
    margin: 0;
}

.out-folder{
    display: flex;
}

.out-folder input{
    width: 100%;
}